connectors:
  # OpenShift
  - type: openshift
    id: openshift
    name: OpenShift
    config:
      issuer: https://kubernetes.default.svc
      clientID: system:serviceaccount:aicoe-argocd:argocd-dex-server
      clientSecret: $DEX_OAUTH_CLIENT_SECRET
      redirectURI: https://argocd-server-aicoe-argocd.apps.ocp.prod.psi.redhat.com/api/dex/callback
      insecureCA: true
      groups:
        - data-hub-openshift-admins
        - aicoe-thoth-devops
        - aicoe-aiops-devops
        - aicoe-argocd-admins
        - aicoe-ccx