connectors:
  # OpenShift
  - type: openshift
    id: openshift
    name: OpenShift
    config:
      issuer: https://api.ocp.prod.psi.redhat.com:6443
      clientID: system:serviceaccount:aicoe-argocd-dev:argocd-dex-server
      clientSecret: $dex.serviceaccount.clientSecret
      redirectURI: https://argocd-server-aicoe-argocd.apps.ocp.prod.psi.redhat.com/api/dex/callback
      insecureCA: true
      groups:
        - data-hub-openshift-admins
        - aicoe-thoth-devops
        - aicoe-aiops-devops